body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: visible;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family:"Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family:"Raleway-Black";
  src: url("../fonts/Raleway-Black.ttf") format("truetype");
}
@font-face {
  font-family:"Raleway-Regular";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
  font-family:"Jost";
  src: url("../fonts/Jost-VariableFont_wght.ttf") format("truetype");
}


main{
  flex: 1;
}

p {
  font-family: Jost, serif;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.6;
}

h1 {
  top: 0;
  margin-top: 0;
  font-weight: 400;
  font-family: Jost, serif;
  font-size: 40px;
  text-align: left;
  padding-right: 10%;
  line-height: 1.6;
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

h2{
  font-family: Jost, serif;
  font-weight: 400;
  font-size: 15px;
}

.hidden{
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.underline {
  padding-left: 15px;
  font-family: Montserrat-Regular, serif;
  display: inline-flex;
  text-align: left;
  align-items: center;
}

.social :hover{
  scale: 1.1;
}

.blob {
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  animation: morph 5s linear infinite alternate;
}

@keyframes morph{
  0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  33% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  66% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}