.nav {
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    display: flex;
    padding-top: 1%;
    backdrop-filter: blur(10px);
    color: hotpink;
    scroll-behavior: smooth;
    font-family: Montserrat-Regular, serif;
    font-weight: 400;
    /*border-bottom: 2px solid hotpink;*/
}

.nav ul {
    list-style: none;
    display: inline-flex;
    vertical-align: middle;
    gap: 20px;

}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: left;
}


.nav li {
    content: '';
    font-family: Montserrat-Regular, serif;
    vertical-align: middle;
    height: 100%;
    /*text-decoration: none;*/
}

.nav li:hover {
    font-style: italic;

}

.nav li.active {
    font-style: normal;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

