.nav {
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    color: hotpink;
    scroll-behavior: smooth;
    text-align: center;
    vertical-align: middle;
    border-bottom: 2px solid hotpink;
}

.nav ul {
    justify-content: center;
    text-align: center;
    list-style: none;
    display: inline-flex;
    gap: 20px;
    padding-right: 10px;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: .25rem;
}


.nav li {
    font-family: Montserrat-Regular, serif;
    transition: 0.4s;
    /*text-decoration: none;*/
}

.nav li:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

.logo{
    height: 100%;
    padding-left: 10px;
    font-family: Montserrat-Regular, serif;
    display: flex;
    text-align: left;
    align-items: center;
}

.logo :hover {

}